*{
    margin:0;
    box-sizing: border-box;
}

body{

    background-color: #5271ff;
    width:auto;
    height:auto;
    
}

h1{

    font-size: 9rem;
    color:white;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}


.version-title{

    position: absolute;
    margin-top:12px;
    left:10px;
    font-size:15px;
    color:White;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    
}


.tagline{

    font-size:30px;
    color:White;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-bottom:8px;
    text-transform: uppercase;
    margin-right:10px;

    
}


  .areabtn{

    display: flex;
    justify-content: center;
    background-color: rgb(13, 13, 65);
    padding:5px;
    
  }

.btn-ord{

    width:14rem;
    height:auto;
    padding: 5px 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size:30px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: rgb(255, 255, 255);
    color:black;
    cursor: pointer;
    outline: none;
    font-family: 'Rajdhani', sans-serif;
    
}

.imagex{
    width:70px;
   
}


.btn-ord:hover{

    background-color:rgb(166, 189, 251);
    
    
}



.area-apps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:10px;
   

}



/* APP TITLES */
.app-heading{

    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    margin-top:10px;
    color:white;
    font-size:25px;
  }


/* Calculator JS */


    #CalculatorJS {    /* Calculator Module */
        width:35rem;
        height:40rem;
        text-align: center;
        background-color: rgb(13, 13, 65);
        margin-top: 20px;
        justify-content: right;
        align-items: flex-end;
        margin:10px;
        border-radius:50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        
      }



      #calculator{

        width:320px;
        height: 520px;
        background-color:#fafafa;
        margin:0 auto;
        top:20px;
        position: relative;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    #result{
    
        height: 120px;
    }
    
    #keyboard{
    
        height:400px;
    }
    
    #history{
    
        text-align: right;
        height:20px;
        margin: 0 20px;
        padding-top: 20px;
        font-size:15px;
        color:#919191;
    }
    
    #output{
    
    
        text-align: right;
        height:60px;
        margin:10px 20px;
        font-size:30px;
       
    }
    
    #keyobard{
        
        height:400px;
    
    }
    
    .operator, .number, .empty{
    
        width:50px;
        height: 50px;
        margin:15px;
        float:left;
        border-radius:50%;
        border-width: 0;
        font-weight: bold;
        font-size:15px;
    }
    
    .number , .empty{
    
        background-color: #ebf7ff;
    }
    
    .number, .operator{
    
        cursor: pointer;
    }
    
    .operator:active, .number:active{
    
        font-size: 13px;
    }
    
    .operator:focus, .number:focus, .empty:focus{
    
        outline:0;
    }
    
    
    .divider{
    
        font-size:20px;
        background-color: rgb(0, 190, 149);
    }
    
    button:nth-child(8){
    
        font-size:20px;
        background-color: rgb(243, 170, 13);
    }
    
    button:nth-child(12){
    
        font-size:20px;
        background-color: rgb(246, 81, 163);
    }
    
    button:nth-child(16){
    
        font-size:20px;
        background-color: rgb(73, 70, 245);
    }
    
    button:nth-child(20){
    
        font-size:20px;
        background-color: rgb(138, 63, 138);
    }



    
    
    /* Address Book Js */

    #AddressBook{   /* Address Module */


        width:85%;
        height:100%;
        text-align: center;
        background-color:  rgb(13, 13, 65);
        margin-top: 20px;
        justify-content: right;
        align-items: flex-end;
        margin:10px;
        border-radius:50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }



    .container-address {

        width:960px;
        margin:auto;
        margin-bottom: 20px;
        font-family: 'Rajdhani', sans-serif;
        
    }
    
     .title {
        padding:10px;
        border-bottom:2px solid;
        background:transparent;
        text-align: center;
        
    } 
    
 /*    .title h1 {
        margin:4px;
        font-family: 'Public Sans', sans-serif;
        text-shadow:0px 0px 1px rgba(0,0,0,0.4);
        text-transform: uppercase;
        color:rgb(255, 255, 255);
    } */
    
    .quickadd {
        padding:5px;
        border-bottom:1px solid;
        align-items: center;
        text-align: center;
        background-color:rgb(116, 187, 235); 
        font-family: 'Rajdhani', sans-serif;
        
        
    }
    
    #QuickAdd {
        
        background:rgb(29, 180, 92);
        color:white;
        border:1px solid;
        border-radius: 5px;
        text-shadow:0px 0px 1px;
        width:20%;
        padding:10px 0;
        font-size: larger;
        cursor:pointer;
        outline:none;
    
    }
    
    .quickaddForm {
        height:auto;
        padding:20px;
        background:rgb(178, 220, 248);
        overflow:hidden;
        display:none;
        justify-content: center;
        
    }
    
    .quickaddForm label {
        position:relative;
        display:block;
        width:300px;
        height:auto;
        float:left;
        font-family:sans-serif;
        font-size:15px;
        padding:10px;
        font-weight:bold;
    }
    
    .quickaddForm input,textarea {
        border:1px solid;
        margin: 4px;
        width:400px;
        padding:10px;
        font-weight:bold;
        border-radius:5px;
        box-shadow:inset 0px 0px 10px rgba(0,0,0,0.2);
    }
    
    
    

    #Add,#Cancel {
        padding:10px 0;
        width:15%;
        margin:10px;
        font-size:larger;
        position:relative;
        left:150px;
        border:1px solid;
        border-radius:5px;
        font-weight:bold;
        cursor:pointer;
        background-color:  rgb(72, 56, 250); 
        color:white; 
        outline:none;
        text-transform: uppercase;
      
    
    }
    
    
    
    
    .entry {
        background:rgb(178, 220, 248);
        width:960px;
        height:60px;
        border-bottom:1px solid;
        padding:auto;
        padding-bottom: 5px;
        padding-top:5px;
        
    }
    
    
    .entry .name {
        width:110px;
        float:left;
        padding:11px;
    }
    
    .entry .email {
        width:200px;
        float:left;
        padding:11px;
    
    }
    
    
    .entry .phone {
        width:150px;
        float:left;
        padding:11px;
    }
    
    .entry .address {
        width:200px;
        float:left;
        padding:11px;
    }
    
    .entry .city {
        width:110px;
        float:left;
        padding:11px;
    }
    
    .entry .del {
        width:140px;
        float:left;
        margin:15px;
    }
    
    .entry p {
        margin:0px;
        font-size:13px;
        font-weight: bold;
        text-shadow:0px 0px 1px rgba(0,0,0,0.4);
    }
    
    .entry .del a {
        font-family: 'Rajdhani', sans-serif;
        text-transform: uppercase;
        color:#FFF;
        font-size:15px;
        padding:8px 8px;
        background:rgb(231, 47, 47);
        border-radius:8px;
        text-decoration:none;
        
       
    }
    

   /* Todo List App */

    #myTodo {
        width:35rem;
        height:40rem;
        text-align: center;
        background-color: rgb(13, 13, 65);
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        margin:10px;
        border-radius:50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-list{

        background-color:rgb(236, 236, 253);
        align-items: center;
        border-radius: 20px;
        margin-top:20px;
        padding-top:10px; 
        
       
    
    } 

    
    .heading{
    
        font-weight: 800;
        color: lime;
    }
    
    .input_div{
    
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .input_div .input {
    
        padding: 0.5rem 1rem;
        height:50px;
        outline:none;
        border:none;
        background-color:#ffff;
        width:350px;
        font-size:1.15rem;
        margin:0.25rem;
        border-radius: 25px;
    }
    
    .addButton{
    
        height:50px;
        width:50px;
        border-radius:25px;
        outline:none;
        border:none;
        background-color:white;
        color:#fff;
        margin:0.25rem;
        background-color:rgb(250, 72, 49);
        cursor:pointer;
        
    }
    
    .addButton:hover{
    
        opacity: 0.7;
    }
    
    .todobox{
    
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        align-items:center;
        margin-top:10px;
    
    }
    
    .item{
    
        padding: 0.5rem;
        margin-bottom: 1.5rem;
        border-bottom:4px solid rgb(17, 33, 82);
    
    }
    
    .item_input {
    
        background:none;
        outline:none;
        color:rgb(3, 1, 1);
        border:none;
        width: 320px;
        font-size: 1.4rem;
        font-family: 'Rajdhani', sans-serif;
        font-weight: bold;
    
    }
    
    .editButton{
    
        font-size: 1.3rem;
        font-family: 'Public Sans', sans-serif;
        background: none;
        outline:none;
        background-color:rgb(3, 228, 115);
        border-radius: 10px;
        width:85px;
        color:white;
        border:none;
        cursor: pointer;
        padding:5px 5px;

    
    
    }
    
    .removeButton{
    
        font-size: 1.3rem;
        font-family: 'Public Sans', sans-serif;
        background: none;
        outline:none;
        background-color:rgb(243, 57, 57);
        color:white;
        border-radius: 10px;
        margin-left: 3px;
        border:none;
        cursor: pointer;
        padding:5px 5px;
        
    }
    
    .plus{
    
        
        font-weight: 800;
    }



        
      /* Calendar */

#myCalendar{

    width:35rem;
    height:40rem;
    text-align: center;
    background-color: rgb(13, 13, 65);;
    margin-top: 20px;
    justify-content: right;
    align-items: flex-end;
    margin:10px;
    border-radius:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.container-box{


    display: flex;
    justify-content: center;
    align-items: center;
    

}

.box{

    margin-top:50px;
    font-size:20px;
    font-weight: bold;
    border-radius: 14px;;

}


    .jsCalendar.custom-purple tbody td.jsCalendar-current {
        background-color: #800080;
    }
    .jsCalendar.custom-purple *::selection {
        background: #800080;
    }
    .jsCalendar.custom-purple *::-moz-selection {
        background: #800080;
    }
    .jsCalendar.material-theme.custom-purple thead {
        background-color: #800080;
    }
    .jsCalendar.material-theme.custom-purple thead .jsCalendar-nav-left:hover,
    .jsCalendar.material-theme.custom-purple thead .jsCalendar-nav-right:hover {
        background-color: #660066;
    }
    .jsCalendar.classic-theme.custom-purple thead {
        background-color: #800080;
    }
    .jsCalendar.classic-theme.custom-purple thead .jsCalendar-nav-left:hover,
    .jsCalendar.classic-theme.custom-purple thead .jsCalendar-nav-right:hover {
        background-color: #660066;
    }




        /* Weather */

        #myWeather{

            width:35rem;
            height:40rem;
            text-align: center;
            background-color: rgb(13, 13, 65);;
            margin-top: 20px;
            justify-content: right;
            align-items: flex-end;
            margin:10px;
            border-radius:50px;
            font-family: 'Rajdhani', sans-serif;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        }


        .container-weather{


            display: flex;
            justify-content: center;
            align-items: center;
            
        
        }


          
          .app-wrap {
          
            text-align: center;
            align-items: center;
            background-color: rgb(0, 139, 219);
            width: 500px;
            height: auto;
            margin-top:15px;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
          }
          
          header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 50px 15px 15px;
          }
          
          header input {
            width: 100%;
            max-width: 280px;
            padding: 10px 15px;
            border: none;
            outline: none;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 16px 0px 16px 0px;
            border-bottom: 3px solid #f5f2ee;
            
            color: #313131;
            font-size: 20px;
            font-weight: 300;
            transition: 0.2s ease-out;
          }
          
          header input:focus {
            background-color: rgba(255, 255, 255, 0.6);
          }
          
          main {
            flex: 1 1 100%;
            padding: 25px 25px 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
          }
          
          .location .city {
            color: #FFF;
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 5px;
          }
          
          .location .date {
            color: #FFF;
            font-size: 16px;
          }
          
          .current .temp {
            color: #FFF;
            font-size: 102px;
            font-weight: 900;
            margin: 30px 0px;
            text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
          }
          
          .current .temp span {
            font-weight: 500;
          }
          
          .current .weather {
            color: #FFF;
            font-size: 32px;
            font-weight: 700;
            font-style: italic;
            margin-bottom: 15px;
            text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
          }
          
          .current .hi-low {
            color: #FFF;
            font-size: 24px;
            font-weight: 500;
            text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
          }
    



    /* Responsive  */

    @media screen and (max-width: 800px) {

      

        #CalculatorJS{

            width:100%;
        }
        
        #myTodo{

            width:100%;
        }

        #myWeather{

            width:100%;

        }

        #myCalendar{

            width:100%;

        }


        #AddressBook{

           width:100%; 
        }

        .version-title{

            font-size: 15px;
            top:0;
            left:0;
        }


        .container-address{

            width:auto;
        }

        .quickaddForm {
            height:auto;
            padding:20px;
            background:rgb(178, 220, 248);
            overflow:hidden;
            align-items: left;
            display:inline;
             
        }
        
        .quickaddForm label {
            position:relative;
            width:120px;
            height:auto;
            font-family:sans-serif;
            font-size:15px;
            color:black;
            font-weight:bold;
        }

        .entry{
            display:flex;
            justify-content:space-evenly;
            width:100%;
           
        }

        .entry .name {
            width:auto;
            padding:1px;
            
        }
        
        .entry .email {
            width:auto;
            padding:1px;
        }
        
        
        .entry .phone {
            width:auto;
            padding:1px;
        }
        
        .entry .address {
            width:auto;
            padding:1px;
        }
        
        .entry .city {
            width:auto;
            padding:1px;
        }
        
        .entry .del {
            width:auto;
            float:right;
            margin-top:3px;
        }
        
        .entry p {
            margin:0px;
            font-size:12px;
            font-weight: bold;
            text-shadow:0px 0px 1px rgba(0,0,0,0.4);
        }
        
        .entry .del a {
            font-family: 'Rajdhani', sans-serif;
            text-transform: uppercase;
            color:#FFF;
            font-size:15px;
            padding:5px;
            background:rgb(231, 47, 47);
            border-radius:8px;
            text-decoration:none;
            
           
        }

        .areabtn{

            width:100%;
            display: flex;  
            flex-wrap: wrap;

        }

        h1{

           font-size: 35px;
           font-weight: bold;
            
        }

        .tagline{

            font-size:20px;

        }

        .quickadd{

            width:100%;
        }

        #Add, #Cancel{

            width:30%;
            float:left;
        }

        #QuickAdd{

            width:50%;

        }
  
      }
      